<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Customer\Controller\Account\CreatePost" type="WelCart\Registration\Controller\Account\CreatePost" />
    <preference for="Magento\Customer\Controller\Account\Create" type="WelCart\Registration\Controller\Account\Create" />
    <type name="Magento\Customer\Block\Widget\Name">
        <plugin name="welcart_registration_widget_name" type="WelCart\Registration\Block\Widget\Name" />
    </type>
</config>
